.shop-by-brand{  
    float: left;
    width: 100%;
    .shop-by-brand-list{
        margin: 0;
        padding: 0;
        li{
           float: left;
          // width: 16.33%;
           padding: 3px;
        }
        .brand-logo{
            min-height: 90px;
            a {
                vertical-align: middle;
            }
        }
        .brand-name{
            font-size: 20px;
            color: #f63;
            text-align: center;
            margin: 10px 0;
        }
    }
    .shop-all-brands{
        float: left;
        width: 100%;
        margin: 15px 0 60px; 
        text-align: right;
        a{
            color: @textColor; 
            margin: 20px 0;
            text-decoration: underline;
            font-weight: 500;  
        }
        
    }
}