.mz-customer-service-nav,
.mz-content-left-nav {
	margin-bottom: 30px;   
    .mz-l-sidebar { 
        margin-top: 0;
        .mz-l-stack-sectiontitle{
        	padding: 0;
        	margin-bottom: 6px;
        	border: none;  
        }
    }
    .mz-scrollnav {
    	border-bottom: 1px solid #e0e0e0;
        .mz-scrollnav-item {
            margin: 0;
            .mz-scrollnav-link {
                border-top: 1px solid #e0e0e0;
                color: #495363;
                font-weight: 500; 
                text-transform: capitalize;
                padding: 10px 10px;   
                &:visited, 
                &:focus, 
                &:active {
                    color: #495363;
                }
            }
            &.active {
                a {
                    background-color: #e0e0e0;
                }
            }
        }
    }
}
.mz-customer-service {  
	#contactus-container{
		.mz-l-container{
			margin-bottom: 40px;
			width: 50%;
		}
	}
	h3 {
		&.mz-l-stack-sectiontitle {
		    border-bottom: 1px solid #e0e0e0;
		    font-size: 22px;
		    font-weight: 700;
		    line-height: 40px;
		    margin: 0 0 30px;
		    text-transform: uppercase;
		}
	}
	.mz-dropzone {
		margin-bottom: 30px;
	}
}

/**** Order Status and Contact Us forms ****/ 
#contactus-container, .mz-track-order-form{  
	float: left;
	width: 100%;
	max-width: 585px; 
}
.mz-customer-service-page, .mz-track-order-form { 
	.mz-l-formfieldgroup-row{ 
		float: left;
		width: 100%;
		display: block;
		margin-bottom: 15px;   
		.mz-l-formfieldgroup-cell{
			padding: 0 15px;    
		}
		label {
		    display: block; 
		    font-size: 14px !important;  
		    line-height: 35px;
		    margin: 0; 
		    text-align: right;
		    font-weight: normal; 
		}
		.form-control{
			width: 100%; 
			height: auto !important;   
			padding: 8px 10px;   
		} 
		
		input[type="text"], 
		input[type="email"], 
		select,
		textarea {
			border: 1px solid #d4d4d4;
			border-radius: 0;
			margin-bottom: 0px;
		}
		textarea {
			min-height: 100px;
			max-height: 150px;
		}
		button {
			&.mz-button {
			    float: right;
			    width: 50%; 
			    margin: 0; 
			}
		}
	}
}
	


